

<h1>Bienvenido a tu carrito</h1>

<h3>Lista de productos en tu carrito</h3>


{{#each productosII}}
    <p>Ariculo: {{this.product.name}}</p>
    <p>cantidad: {{this.quantity}}</p>
{{/each}}
