<h1>Bienvenido  {{user.nombre}}</h1>


  <div>
    <form action="/products" method="get">
      <br />
      <button type="submit">productos</button>
    </form>
  </div>

    <div>
    <form action="/api/v1/session/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>